.App {
  padding: 30px;
  background-color: floralwhite;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.button {
  margin-top: 1rem;
}

#judul {
  font-family: monospace;
  font-weight: bold;
  margin-top: 1rem;
}

.footer {
  margin-top: 25rem;
}